# Kelas Pengenalan Basic Programming

## Pengenalan Variabel

In [1]:
print("Hello World")

Hello World

In [4]:
nama = 'Dwi Ahmad'
kelas = 'OJT Data Science'
nilai = 85
rata2_nilai = 85.2

In [5]:
nilai

85

In [6]:
kelas

'OJT Data Science'

In [7]:
print(kelas)

OJT Data Science

In [8]:
print('Nama : ',nama,', nilai: ', nilai)

Nama :  Dwi Ahmad , nilai:  85

In [9]:
print('Nama : ',nama,', kelas: ', kelas)

Nama :  Dwi Ahmad , kelas:  OJT Data Science

In [10]:
print('Nama : ',nama,', Nilai Rata-rata: ', rata2_nilai)

Nama :  Dwi Ahmad , Nilai Rata-rata:  85.2

## Operasi Sederhana

In [11]:
print (2 + 2)

4

In [13]:
print (12 // 2)

6

In [14]:
print (2 / 2)

1.0

In [15]:
print (2 * 2)

4

In [12]:
print (2 + 2 * 5)

12

In [16]:
print (2 ** 2)

4

In [17]:
print (2 ** 12 + 10)

4106

In [18]:
print (2 + 2**(3+5))

258

## String & Variables

In [20]:
x = 7
print(x)

7

In [21]:
x = x + 69

In [22]:
print(x)

76

In [23]:
a = 125.5

In [24]:
print(a)

125.5

# Control Structure

In [25]:
print ( 2!= 12)

True

In [26]:
print ( 2 != 12 and 0 == 0)

True

In [27]:
print ( 2== 12 or 12+2 == 3)

False

In [28]:
print ( not 2!= 12)

False

In [29]:
print ( not 2!= 12 and 12==6*2)

False

## IF Statment

In [30]:
if 10 > 5:
    print("10 lebih besar daripada 5")

10 lebih besar daripada 5

In [31]:
if 1 > 5:
    print("10 lebih besar daripada 5")

In [34]:
num = 12
if num > 5:
    print(num,"lebih besar daripada 5")

12 lebih besar daripada 5

In [35]:
if 10 > 5:
    print("10 lebih besar daripada 5")
    if num <= 47:
        print(num,'Kurang dari 47')

10 lebih besar daripada 5
12 Kurang dari 47

In [36]:
if 3 > 5:
    print("3 lebih besar dari 5")
elif 3 == 5 :
    print("3 sama dengan 5")
elif 3 < 5 :
    print("3 kurang dari 5")
else :
    print("Gak ono hasile")

3 kurang dari 5

## Lists

In [37]:
seswatu = ['eststs',8+9,1,'new']

In [39]:
print(seswatu[1])

17

In [41]:
a = [2,3,4,5,[2,3,3,[33,333]]]

In [44]:
a[4][3][1]

333

In [45]:
a.append(12)

In [46]:
a

[2, 3, 4, 5, [2, 3, 3, [33, 333]], 12]

In [47]:
print(a*2)

[2, 3, 4, 5, [2, 3, 3, [33, 333]], 12, 2, 3, 4, 5, [2, 3, 3, [33, 333]], 12]

In [48]:
b = a*2

In [49]:
print(b)

[2, 3, 4, 5, [2, 3, 3, [33, 333]], 12, 2, 3, 4, 5, [2, 3, 3, [33, 333]], 12]

## While Loop

In [50]:
n = 1

while n <9:
    strc = '*'
    print(strc*n,'\n')
    n=n+1

*

**

***

****

*****

******

*******

********

In [53]:
n = 1

while n < 25:
    if ((n%2)==0):
        print("Nilai ",n,"adalah genap")
    else:
         print("Nilai ",n,"adalah ganjil")

    n = n+1

Nilai  1 adalah ganjil
Nilai  2 adalah genap
Nilai  3 adalah ganjil
Nilai  4 adalah genap
Nilai  5 adalah ganjil
Nilai  6 adalah genap
Nilai  7 adalah ganjil
Nilai  8 adalah genap
Nilai  9 adalah ganjil
Nilai  10 adalah genap
Nilai  11 adalah ganjil
Nilai  12 adalah genap
Nilai  13 adalah ganjil
Nilai  14 adalah genap
Nilai  15 adalah ganjil
Nilai  16 adalah genap
Nilai  17 adalah ganjil
Nilai  18 adalah genap
Nilai  19 adalah ganjil
Nilai  20 adalah genap
Nilai  21 adalah ganjil
Nilai  22 adalah genap
Nilai  23 adalah ganjil
Nilai  24 adalah genap

## Function

In [56]:
def penjumlahan (a,b):
    hasil = a+b
    return hasil

In [57]:
penjumlahan (9,10)

19

In [58]:
#class

class operasi():
    def penjumlahan (a,b):
        hasil = a+b
        return hasil
    def pengurangan (a,b):
        hasil = a+b
        return hasil

In [59]:
operasi.penjumlahan(2,7)

9