# PESERTA OJT DATA SCIENCE JANUARI 2022
---
## NAMA : DWI AHMAD DZULHIJJAH 
## EMAIL : 1818101@scholar.itn.ac.id
## TUGAS MODUL KE 6 : Supervised Learning
---

### Persiapan Data

#### Preprocessing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("kc_house_data.csv")

In [3]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [4]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

### Regresi

#### Train Test

In [7]:
space=df['sqft_living']
price=df['price']

In [8]:
x = np.array(space).reshape(-1, 1)
y = np.array(price)

In [11]:
from sklearn.model_selection import train_test_split 
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=0)

#### Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression()
regressor.fit(xtrain, ytrain)

LinearRegression()

In [14]:
pred = regressor.predict(xtest)

In [15]:
from sklearn.metrics import mean_absolute_error

In [17]:
print('MAE: ',mean_absolute_error(ytest,pred))

MAE:  172604.12889995414

#### Multiple Linear Regression

In [23]:
new_df = df[['sqft_living','grade', 'sqft_above', 'sqft_living15','bathrooms','view','sqft_basement','lat','waterfront','yr_built','bedrooms']] #Selecting Relevant Features
X = new_df.values #Features
y = df.price.values #Target

from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y ,test_size=0.3,random_state=1)

In [24]:
from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()

In [25]:
modelLR.fit(X_train, y_train)

LinearRegression()

In [26]:
Y_pred = modelLR.predict(X_test)

In [28]:
print('MAE: ',mean_absolute_error(ytest,Y_pred))

MAE:  327196.0381623425

#### DecissionTree Regression

In [29]:
new_df = df[['sqft_living','grade', 'sqft_above', 'sqft_living15','bathrooms','view','sqft_basement','lat','waterfront','yr_built','bedrooms']]
X = new_df.values
y = df.price.values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y ,test_size=0.3,random_state=1)

In [30]:
from sklearn.tree import DecisionTreeRegressor
dtr= DecisionTreeRegressor(random_state=0)
dtr.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [31]:
y_pred = dtr.predict(X_test)

In [32]:
print('MAE: ',mean_absolute_error(ytest,y_pred))

MAE:  337144.07287168415

#### Support Vector Regression

In [33]:
new_df = df[['sqft_living','grade', 'sqft_above', 'sqft_living15','bathrooms','view','sqft_basement','lat','waterfront','yr_built','bedrooms']]
X = new_df.values
y = df.price.values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y ,test_size=0.3,random_state=1)

In [35]:
from sklearn.svm import SVR
svr_linear = SVR(kernel='linear')
svr_linear.fit(X_train, y_train)

SVR(kernel='linear')

In [36]:
y_pred = dtr.predict(X_test)

In [37]:
print('MAE: ',mean_absolute_error(ytest,y_pred))

MAE:  337144.07287168415

#### MOHON KOREKSI, TERIMAKASIH :)